/* line 1, ../sass/piik.sass */
.piik {
  float: left;
  width: 100%;
}
/* line 5, ../sass/piik.sass */
.piik .aboe {
  float: right;
}
/* line 8, ../sass/piik.sass */
.piik .editWrapper {
  clear: both;
  float: left;
  position: relative;
}
/* line 13, ../sass/piik.sass */
.piik .editWrapper .source,
.piik .editWrapper .result,
.piik .editWrapper .animated {
  border: 1px solid #111111;
  position: absolute;
  top: 0;
  left: 0;
}
/* line 21, ../sass/piik.sass */
.piik .editWrapper .source {
  background-color: white;
  color: #333333;
}
/* line 25, ../sass/piik.sass */
.piik .editWrapper .result,
.piik .editWrapper .animated {
  background-color: white;
}
